#copyright {
    color:white;
}

.menufooter {
    list-style:none;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}
.menufooter li {
    font-family: 'Verdana',sans-serif;
    width: 100%;
    text-align: center;
    float:left;
    background-color:#DD0000;
}

