
#title{
  text-align: center;
  }

.menu {
    list-style:none;
    margin-bottom:30px;
}
.menu li {
    font-family: 'Verdana',sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom:40px;
    padding:5px 0px;
    float:left;
    background-color:#DD0000;
}

a, a:visited {
    color :white;
    text-decoration: none;
    margin: 0 20px;
  }


  input[type="submit"]{
    background: #e0505c;
    border: none;
    color: white;
    font-size:30px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
  }

  input#problem_button{
    margin-top: 30px;
  }

  #mondaisu {
    margin-bottom: 70px;
  }

  .sample_box8 {
    margin-left: 350px;
    margin-right: 350px;
    background-color:#ffffff;/*背景色*/
    border:3px solid #e0505c;/*枠線*/
    box-shadow: 0 2px 6px rgba(248, 248, 248, 0.3);/*影*/
    color:#000000;/*文字色*/
    margin-bottom: 100px;
}
.sample_box8 p {
    margin: 0; 
    padding: 0;
}